<!--<fieldset>
	<div class="splitcontentleft">-->
		<fieldset>
		<legend>Divisas en SAP</legend>
			<p>
				<label>Tabla</label>
				<%= text_field_tag 'settings[sap_table_name]', @settings['sap_table_name'] %>
			</p>
			<p>
				<label>Campo moneda</label>
				<%= text_field_tag 'settings[sap_currency_field]', @settings['sap_currency_field'] %>
			</p>
			<p>
				<label>Campo factor de conversión</label>
				<%= text_field_tag 'settings[sap_value_field]', @settings['sap_value_field'] %>
			</p>
			<p>
				<label>Campo fecha</label>
				<%= text_field_tag 'settings[sap_date_field]', @settings['sap_date_field'] %>
			</p>
		</fieldset>
	<!--</div>
</fieldset>-->